.header-1 {
  display: grid;
  grid-template-columns: 1fr 300px;
  background: #ffffff;
}

.header-1 div a {
  background: #ef9322;
  color: #fff;
  width: 80px;
  padding: 0.5rem;
  text-decoration: none;
}
.header-1 div {
  padding-bottom: 20px;
}

.header-1 ul li {
  display: inline-block;
  padding: 0.5rem;
}

.header-2 {
  display: grid;
  grid-template-columns: 1fr 150px;
  background: #333;
  color: #fff;
  height: 50px;
  padding-top: 1.2rem;
  padding-left: 0.5rem;
}

.header-2 a {
  text-decoration: none;
  padding: 0.5rem;
  color: #fff;
}

.header-2 .partner {
  border: #fff 1px solid;
  transform: skew(-30deg);
}

.header-2 .clubs {
  border: #fc9b04 1px solid;
  border-radius: 10px;
  color: #fc9b04;
  transform: skew(-30deg);
}

ul li {
  list-style-type: none;
}
