.header {
  position: relative;
}

.header-1 {
  display: grid;
  grid-template-columns: 1fr 500px;
  background: #ffffff;
}

.header-1 .socialcontact {
  margin-left: 0 !important;
  justify-self: end;
}

.header-1 .social-links {
  float: right;
  margin: 0;
}

.header-1 .email-tel {
  clear: both;
  margin: 0;
}

.header-1 .citysport img {
  padding: 0.5rem;
}

.header-1 div a {
  background: #ef9322;
  color: #fff;
  width: 80px;
  padding: 0.5rem;
  text-decoration: none;
}
.header-1 div {
  margin-left: 11rem;
  padding-bottom: 20px;
}

.header-1 li {
  display: inline-block;
  padding: 0.5rem;
}

/* HEADER 2 */
.header-2 {
  display: grid;
  grid-template-columns: 1fr 280px;
  background: #19191b;
  color: #fff;
  height: 50px;
  padding-top: 1.2rem;
  padding-left: 0.5rem;
}

.header-2 .user img {
  padding: 0 1rem;
}

.header-2 a {
  text-decoration: none;
  padding: 0.5rem;
  color: #fff;
}

.header-2 .partner {
  margin-left: 18rem;
  border: #fff 1px solid;
}

.header-2 .clubs {
  margin-left: 0.5rem;
  border: #fc9b04 1px solid;
  border-radius: 10px;
  color: #fc9b04;
  transform: skew(-30deg);
}

ul li {
  list-style-type: none;
}

/* POLYGON */
.polygon {
  position: absolute;
  top: 0;
  left: 0;
}

.polygon2 {
  position: absolute;
  bottom: 0;
  left: 0.8%;
}

.offer {
  position: absolute;
  bottom: 0;
  left: 8%;
}

.close {
  display: none !important;
}

@media only screen and (max-width: 500px) {
  .header-1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .header-1 .socialcontact {
    float: none;
  }
  .polygon,
  .polygon2 {
    display: none;
  }
}
